{% extends 'base.html' %}
{% load currency_filter %}
{% load cart_filter %}
{% load static %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shopping Cart</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            {% if cart_list|length > 0 %}
            <table class="table table-bordered text-center mb-0 text-sm">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th></th>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                        {% for cart in cart_list %}
                        <tr>
                            <td><img src="{{cart.product.all.0.image.url}}" style="width: 50px;"></td>
                            <td class="align-middle text-left"> {{cart.name}} </td>
                            <td class="align-middle"> {{cart.price|inrcurrency|currency}} </td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <form method="post">
                                        {% csrf_token %}
                                            <input type="text" name="product" value="{{cart.id}}" hidden> 
                                            <input type="text" name="remove" value="True" hidden>    
                                            <input type="submit" class="btn bg-atx-red text-white btn-minus px-2 py-1" value=" - ">
                                        </form>
                                    </div>

                                    <input type="text" class="form-control bg-secondary text-center bg-white border-0 p-0" 
                                        value="{{cart|cart_quantity:request.session.cart}}">
                                    
                                    <div class="input-group-btn">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="text" name="product" value="{{cart.id}}" hidden> 
                                            <input type="submit" class="btn bg-atx-red text-white btn-plus px-2 py-1" value=" + ">
                                        </form>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">{{cart|price_total:request.session.cart|inrcurrency|currency}}</td>
                            <form method="post">
                                {% csrf_token %}
                                <td class="align-middle">
                                    <input type="text" name="product" value="{{cart.id}}" hidden>
                                    <input type="text" name="delete" value="True" hidden>
                                    <button type="submit" class="btn btn-sm btn-primary text-white">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="col-12 text-center" style="height: 500px;">
                    <img src="{% static 'img/empty cart.png' %}" class="no-product">
                    <a class="atx-red" href="{% url 'storepage' %}">
                        <p>Go To Shop</p>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <form class="mb-5" method="get" id="coupon-form" action="#coupon-form">
                <div class="input-group">
                    <input type="text" class="form-control p-4" placeholder="Coupon Code" name="coupon">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary" {% if btn_disabled %} disabled {% endif %}>
                            Apply Coupon
                        </button>
                    </div>
                </div>
                {% if coupon|length > 0 %}
                    <div class="w-100 mt-2">
                        <h6 class="text-success inline">Coupon Applied</h6>
                        <a href="{% url 'cartpage' %}#coupon-form" class="text-right float-right">
                            <small>Clear Coupon</small>
                        </a>
                    </div>
                {% else %}
                    <h6 class="atx-red mt-2">{{invalid_coupon.message}}</h6>
                {% endif %}
            </form>

            

            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">{% checkout_cart_total cart_list request.session.cart coupon %}</h6>
                    </div>
                    {% if coupon %}
                    <div class="d-flex justify-content-between mb-2 pt-1">
                        <h6 class="font-weight-medium">Coupon Applied</h6>
                        <h6 class="font-weight-medium" id="applied_coupon">{{coupon.0.code|upper}}</h6>
                    </div>
                    <div class="d-flex justify-content-between mb-2 pt-1">
                        <h6 class="font-weight-medium">Discount</h6>
                        <h6 class="font-weight-medium" id="coupon_discount">{{coupon.0.discount}}%</h6>
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-between mb-2 pt-1">
                        <h6 class="font-weight-medium">Saved</h6>
                        <h6 class="font-weight-medium text-success font-bold">- {% total_discount cart_list request.session.cart coupon %}</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">{% checkout_shipping_total cart_list request.session.cart coupon shipping %}</h5>
                    </div>
                    <a href="{% url 'checkoutpage' %}" class="btn btn-block btn-primary my-3 py-3" {% if btn_disabled %} disabled {% endif %}>
                        Proceed To Checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->

{% endblock %}