{% extends 'base.html' %}
{% load currency_filter %}
{% load cart_filter %}
{% load custom_filter %}
{% load static %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shopping Cart</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            {% if cart_list|length > 0 %}
            <table class="table table-bordered text-center mb-0 text-sm" id="cart_table">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th></th>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                        {% for cart in cart_list %}
                        <tr>
                            <td><img src="{{cart.product.all.0.image.url}}" style="width: 50px;"></td>
                            <td class="align-middle text-left">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="font-bold">{{cart.name}}</span>
                                    </div>
                                </div>
                                {% if cart.type == 'leather_ball' %}
                                    <div class="row">
                                        <div class="col-4 mt-10px">
                                            <b>Ball Size:</b>
                                        </div>
                                        
                                        {% if product_options.items|size_lookup:cart.id == 'None' or product_options.items|size_lookup:cart.id == None %}
                                        <div class="col-8">
                                            <form class="row" method="post">
                                                {% csrf_token %}
                                                <input type="text" name="product" value="{{cart.id}}" hidden>
                                                <div class="form-group">
                                                    <select class="form-control" name="size" id="ball-size_select" onchange="this.form.submit()">
                                                        <option value="None">Select Size</option>
                                                        <option value="men" {% if size == 'men' %}selected{% endif %}>Men (5.2 Oz)</option>
                                                        <option value="youth" {% if size == 'youth' %}selected{% endif %}>Youth (5.0 Oz)</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        {% else %}
                                        <div class="col-8 mt-10px">
                                            {% for key, value in product_options.items %}
                                                {% if key|toString == cart.id|toString %}
                                                    {{value.size|title}}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="row">
                                        <div class="col-4 mt-10px">
                                            <b>Ball Color:</b>
                                        </div>
                                        
                                        {% if product_options.items|color_lookup:cart.id == 'None' or product_options.items|color_lookup:cart.id == None %}
                                        <div class="col-8">
                                            <form class="row" method="post">
                                                {% csrf_token %}
                                                <input type="text" name="product" value="{{cart.id}}" hidden>
                                                <div class="form-group">
                                                    <select class="form-control" name="color" id="color_select" onchange="this.form.submit()">
                                                        <option value="None">Select Color</option>
                                                        <option value="red" {% if color == 'red' %}selected{% endif %}>Red</option>
                                                        <option value="white" {% if color == 'white' %}selected{% endif %}>White</option>
                                                        <option value="pink" {% if color == 'pink' %}selected{% endif %}>Pink</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        {% else %}
                                        <div class="col-8 mt-10px">
                                            {% for key, value in product_options.items %}
                                                {% if key|toString == cart.id|toString %}
                                                    {{value.color|title}}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    
                                    {% if product_options.items|size_lookup:cart.id == None and product_options.items|color_lookup:cart.id == None %}
                                        <span class="text-danger">Please mention ball size and color</span>
                                    {% elif product_options.items|size_lookup:cart.id == 'None' or product_options.items|size_lookup:cart.id == None %}
                                        <span class="text-danger">Please mention ball size</span>
                                    {% elif product_options.items|color_lookup:cart.id == 'None' or product_options.items|color_lookup:cart.id == None %}
                                        <span class="text-danger">Please mention ball color</span>
                                    {% endif %}
                                {% endif %}

                                {% if cart.type == 'kashmir_willow_bat' or cart.type == 'english_willow_bat' or cart.type == 'tennis_bat' %}
                                    <div class="row">
                                        <div class="col-4 mt-10px">
                                            <b>Bat Size:</b>
                                        </div>

                                        {% if product_options.items|size_lookup:cart.id == 'None' or product_options.items|size_lookup:cart.id == None %}
                                        <div class="col-8">
                                            <form class="row" method="post">
                                                {% csrf_token %}
                                                <input type="text" name="product" value="{{cart.id}}" hidden>
                                                <div class="form-group">
                                                    <select class="form-control" name="size" id="bat_size_select" onchange="this.form.submit()">
                                                        <option value="None">Select Size</option>
                                                        <option value="men" {% if bat_size == 'men' %}selected{% endif %}>Men (7)</option>
                                                        <option value="harrow" {% if bat_size == 'harrow' %}selected{% endif %}>Harrow (6)</option>
                                                        <option value="size_5" {% if bat_size == 'size_5' %}selected{% endif %}>Size 5</option>
                                                        <option value="size_4" {% if bat_size == 'size_4' %}selected{% endif %}>size 4</option>
                                                        <option value="size_3" {% if bat_size == 'size_3' %}selected{% endif %}>Size 3</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        {% else %}
                                        <div class="col-8 mt-10px">
                                            {% for key, value in product_options.items %}
                                                {% if key|toString == cart.id|toString %}
                                                    {{value.size|readable_text|title}}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    
                                    {% if product_options.items|size_lookup:cart.id == 'None' or product_options.items|size_lookup:cart.id == None %}
                                        <span class="text-danger">Please mention bat size</span>
                                    {% endif %}
                                {% endif %}

                                {% if cart.type == 'batting_gloves' or cart.type == 'keeping_gloves' %}
                                    <div class="row">
                                        <div class="col-4 mt-10px">
                                            <b>Gloves Size:</b>
                                        </div>
                                        
                                        {% if product_options.items|size_lookup:cart.id == 'None' or product_options.items|size_lookup:cart.id == None %}
                                        <div class="col-8">
                                            <form class="row" method="post">
                                                {% csrf_token %}
                                                <input type="text" name="product" value="{{cart.id}}" hidden>
                                                <div class="form-group">
                                                    <select class="form-control" name="size" id="gloves_size_select" onchange="this.form.submit()">
                                                        <option value="None">Select Size</option>
                                                        <option value="men" {% if size == 'men' %}selected{% endif %}>Men</option>
                                                        <option value="youth" {% if size == 'youth' %}selected{% endif %}>Youth</option>
                                                        <option value="boys" {% if size == 'boys' %}selected{% endif %}>boys</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        {% else %}
                                        <div class="col-8 mt-10px">
                                            {% for key, value in product_options.items %}
                                                {% if key|toString == cart.id|toString %}
                                                    {{value.size|title}}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>

                                    {% if product_options.items|size_lookup:cart.id == 'None' or product_options.items|size_lookup:cart.id == None %}
                                        <span class="text-danger">Please mention gloves size</span>
                                    {% endif %}
                                {% endif %}

                                {% if cart.type == 'shoes' %}
                                    <div class="row">
                                        <div class="col-4 mt-10px">
                                            <b>Shoes Size:</b>
                                        </div>

                                        {% if product_options.items|size_lookup:cart.id == 'None' or product_options.items|size_lookup:cart.id == None %}
                                        <div class="col-8">
                                            <form class="row" method="post">
                                                {% csrf_token %}
                                                <input type="text" name="product" value="{{cart.id}}" hidden>
                                                <div class="form-group">
                                                    <select class="form-control" name="size" id="shoe_size_select" onchange="this.form.submit()">
                                                        <option value="uk7_us8" {% if size == 'uk7_us8' %}selected{% endif %}>UK 7/US 8</option>
                                                        <option value="uk8_us9" {% if size == 'uk8_us9' %}selected{% endif %}>UK 8/US 9</option>
                                                        <option value="uk9_us10" {% if size == 'uk9_us10' %}selected{% endif %}>UK 9/US 10</option>
                                                        <option value="uk10_us11" {% if size == 'uk10_us11' %}selected{% endif %}>UK 10/US 11</option>
                                                        <option value="uk11_us12" {% if size == 'uk11_us12' %}selected{% endif %}>UK 11/US 12</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        {% else %}
                                        <div class="col-8 mt-10px">
                                            {% for key, value in product_options.items %}
                                                {% if key|toString == cart.id|toString %}
                                                    {{value.size|or_sign|upper}}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    
                                    {% if product_options.items|size_lookup:cart.id == 'None' or product_options.items|size_lookup:cart.id == None %}
                                        <span class="text-danger">Please mention bat size</span>
                                    {% endif %}
                                {% endif %}

                                {% if cart.type == 'tshirt' %}
                                    <div class="row">
                                        <div class="col-4 mt-10px">
                                            <b>Tshirt Size:</b>
                                        </div>
                                        
                                        {% if product_options.items|size_lookup:cart.id == 'None' or product_options.items|size_lookup:cart.id == None %}
                                        <div class="col-8">
                                            <form class="row" method="post">
                                                {% csrf_token %}
                                                <input type="text" name="product" value="{{cart.id}}" hidden>
                                                <div class="form-group">
                                                    <select class="form-control" name="size" id="tshirt_size_select" onchange="this.form.submit()">
                                                        <option value="None">Select Size</option>
                                                        <option value="kids_24" {% if size == 'kids_24' %}selected{% endif %}>Kids (24)</option>
                                                        <option value="kids_26" {% if size == 'kids_26' %}selected{% endif %}>Kids (26)</option>
                                                        <option value="kids_28" {% if size == 'kids_28' %}selected{% endif %}>Kids (28)</option>
                                                        <option value="xxxs_30" {% if size == 'xxxs_30' %}selected{% endif %}>XXXS (30)</option>
                                                        <option value="xxs_32" {% if size == 'xxs_32' %}selected{% endif %}>XXS (32)</option>
                                                        <option value="xs_34" {% if size == 'xs_34' %}selected{% endif %}>XS (34)</option>
                                                        <option value="s_36" {% if size == 's_36' %}selected{% endif %}>S (36)</option>
                                                        <option value="m_38" {% if size == 'm_38' %}selected{% endif %}>M (38)</option>
                                                        <option value="l_40" {% if size == 'l_40' %}selected{% endif %}>L (40)</option>
                                                        <option value="xl_42" {% if size == 'xl_42' %}selected{% endif %}>XL (42)</option>
                                                        <option value="xxl_44" {% if size == 'xxl_44' %}selected{% endif %}>XXL (44)</option>
                                                        <option value="xxxl_46" {% if size == 'xxxl_46' %}selected{% endif %}>XXXL (46)</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        {% else %}
                                        <div class="col-8 mt-10px">
                                            {% for key, value in product_options.items %}
                                                {% if key|toString == cart.id|toString %}
                                                    {{value.size|readable_text|title}}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>

                                    {% if product_options.items|size_lookup:cart.id == 'None' or product_options.items|size_lookup:cart.id == None %}
                                        <span class="text-danger">Please mention tshirt size</span>
                                    {% endif %}
                                {% endif %}

                                {% if cart.type == 'track_pant' %}
                                    <div class="row">
                                        <div class="col-4 mt-10px">
                                            <b>Waist Size:</b>
                                        </div>
                                        
                                        {% if product_options.items|size_lookup:cart.id == 'None' or product_options.items|size_lookup:cart.id == None %}
                                        <div class="col-8">
                                            <form class="row" method="post">
                                                {% csrf_token %}
                                                <input type="text" name="product" value="{{cart.id}}" hidden>
                                                <div class="form-group">
                                                    <select class="form-control" name="size" id="tshirt_size_select" onchange="this.form.submit()">
                                                        <option value="None">Select Waist Size</option>
                                                        <option value="22_inches" {% if size == '22_inches' %}selected{% endif %}>22 inches</option>
                                                        <option value="24_inches" {% if size == '24_inches' %}selected{% endif %}>24 inches</option>
                                                        <option value="26_inches" {% if size == '26_inches' %}selected{% endif %}>26 inches</option>
                                                        <option value="28_inches" {% if size == '28_inches' %}selected{% endif %}>28 inches</option>
                                                        <option value="30_inches" {% if size == '30_inches' %}selected{% endif %}>30 inches</option>
                                                        <option value="32_inches" {% if size == '32_inches' %}selected{% endif %}>32 inches</option>
                                                        <option value="34_inches" {% if size == '34_inches' %}selected{% endif %}>34 inches</option>
                                                        <option value="36_inches" {% if size == '36_inches' %}selected{% endif %}>36 inches</option>
                                                        <option value="38_inches" {% if size == '38_inches' %}selected{% endif %}>38 inches</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        {% else %}
                                        <div class="col-8 mt-10px">
                                            {% for key, value in product_options.items %}
                                                {% if key|toString == cart.id|toString %}
                                                    {{value.size|readable_text|title}}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>

                                    {% if product_options.items|size_lookup:cart.id == 'None' or product_options.items|size_lookup:cart.id == None %}
                                        <span class="text-danger">Please mention track pant size</span>
                                    {% endif %}
                                {% endif %}

                            </td>
                            <td class="align-middle"> {{cart.price|inrcurrency|currency}} </td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <form method="post">
                                        {% csrf_token %}
                                            <input type="text" name="product" value="{{cart.id}}" hidden> 
                                            <input type="text" name="remove" value="True" hidden>    
                                            <input type="submit" class="btn bg-atx-red text-white btn-minus px-2 py-1" value=" - ">
                                        </form>
                                    </div>

                                    <input type="text" class="form-control bg-secondary text-center bg-white border-0 p-0" 
                                        value="{{cart|cart_quantity:request.session.cart}}">
                                    
                                    <div class="input-group-btn">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="text" name="product" value="{{cart.id}}" hidden> 
                                            <input type="submit" class="btn bg-atx-red text-white btn-plus px-2 py-1" value=" + ">
                                        </form>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">{{cart|price_total:request.session.cart|inrcurrency|currency}}</td>
                            <form method="post">
                                {% csrf_token %}
                                <td class="align-middle">
                                    <input type="text" name="product" value="{{cart.id}}" hidden>
                                    <input type="text" name="delete" value="True" hidden>
                                    <button type="submit" class="btn btn-sm btn-primary text-white">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="col-12 text-center" style="height: 500px;">
                    <img src="{% static 'img/empty cart.png' %}" class="no-product">
                    <a class="atx-red" href="{% url 'storepage' %}">
                        <p>Go To Shop</p>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <form class="mb-5" method="get" id="coupon-form" action="#coupon-form">
                <div class="input-group">
                    <input type="text" class="form-control p-4" placeholder="Coupon Code" name="coupon">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary" {% if btn_disabled %} disabled {% endif %}>
                            Apply Coupon
                        </button>
                    </div>
                </div>
                {% if coupon|length > 0 %}
                    <div class="w-100 mt-2">
                        <h6 class="text-success inline">Coupon Applied</h6>
                        <a href="{% url 'cartpage' %}#coupon-form" class="text-right float-right">
                            <small>Clear Coupon</small>
                        </a>
                    </div>
                {% else %}
                    <h6 class="atx-red mt-2">{{invalid_coupon.message}}</h6>
                {% endif %}
            </form>

            

            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">{% checkout_cart_total cart_list request.session.cart coupon %}</h6>
                    </div>
                    {% if coupon %}
                    <div class="d-flex justify-content-between mb-2 pt-1">
                        <h6 class="font-weight-medium">Coupon Applied</h6>
                        <h6 class="font-weight-medium" id="applied_coupon">{{coupon.0.code|upper}}</h6>
                    </div>
                    <div class="d-flex justify-content-between mb-2 pt-1">
                        <h6 class="font-weight-medium">Discount</h6>
                        <h6 class="font-weight-medium" id="coupon_discount">{{coupon.0.discount}}%</h6>
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-between mb-2 pt-1">
                        <h6 class="font-weight-medium">Saved</h6>
                        <h6 class="font-weight-medium text-success font-bold">- {% total_discount cart_list request.session.cart coupon %}</h6>
                    </div>
                </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{% checkout_shipping_total cart_list request.session.cart coupon shipping %}</h5>
                            <input type="hidden" name="order_amount" value="{% checkout_order_total cart_list request.session.cart coupon shipping %}">
                            {% checkout_order_total cart_list request.session.cart coupon shipping as order_value %}
                        </div>
                        <a href="{% url 'checkoutpage' %}" class="btn btn-block btn-primary my-3 py-3 
                        {% if btn_disabled %}
                        disabled
                        {% elif ball_size == None and color == None %} 
                        disabled 
                        {% endif %}">
                            Proceed To Checkout
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->

{% endblock %}