{% extends 'base.html' %}
{% load static %}
{% load cart_filter %}
{% load currency_filter %}
{% load custom_filter %}
{% load mathfilters %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<div class="container-fluid pt-5">
    {{placeorder}}
    <form method="post" id="checkout_form">
    {% csrf_token %}
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>First Name</label>
                        <input class="form-control" id="first_name" name="order_first_name" type="text" value="{{request.user.first_name}}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Last Name</label>
                        <input class="form-control" name="order_last_name" type="text" value="{{request.user.last_name}}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" name="order_email" type="text" placeholder="example@email.com" value="{{request.user.email}}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Mobile No</label>
                        <input class="form-control" name="order_contact" type="text">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address Line 1</label>
                        <input class="form-control" name="order_addr1" type="text" placeholder="Flat/House, Apartment/ Society">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address Line 2</label>
                        <input class="form-control" name="order_addr2" type="text" placeholder="Street/Road, Locality">
                    </div>
                    <div class="col-md-6 form-group">
                        {% include 'country.html' %}
                    </div>
                    <div class="col-md-6 form-group">
                        <label>City</label>
                        <input class="form-control" name="order_city" type="text">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>State</label>
                        <input class="form-control" name="order_state" type="text">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>ZIP Code</label>
                        <input class="form-control" name="order_zipcode" type="text">
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="order_terms" name="order_terms">
                            <label class="custom-control-label collapsed" for="order_terms" data-toggle="collapse" data-target="#place_order_button">
                                Accept <a href="{% url 'termspage' %}" target="_blank">Terms and Conditions</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="save_information">
                            <label class="custom-control-label" for="save_information">Save Information</label>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="shipto">
                            <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse mb-4" id="shipping-address">
                <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Last Name</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="text" placeholder="example@email.com">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Mobile No</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address Line 1</label>
                        <input class="form-control" type="text" placeholder="Flat/House, Apartment/ Society">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address Line 2</label>
                        <input class="form-control" type="text" placeholder="Street/Road, Locality">
                    </div>
                    <div class="col-md-6 form-group">
                        <!-- <label>Country</label>
                        <select class="custom-select">
                            <option selected>United States</option>
                            <option>Afghanistan</option>
                            <option>Albania</option>
                            <option>Algeria</option>
                        </select> -->
                        
                    </div>
                    <div class="col-md-6 form-group">
                        <label>City</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>State</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>ZIP Code</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0 inline">Order Total</h4>
                    <span class="font-12">(Order Id: {{ razorpay_order_id }})</span>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Products</h5>
                    {% for cart in cart_list %}
                    <div class="d-flex justify-content-between">
                        <p class="w-75">{{cart.name}}</p>
                        <p>{{cart.price|inrcurrency|currency}}</p>
                    </div>
                    {% endfor %}
                    
                    <hr class="mt-0">
                    {% if coupon %}
                    <div class="d-flex justify-content-between mb-2 pt-1">
                        <h6 class="font-weight-medium">Coupon Applied</h6>
                        <h6 class="font-weight-medium" id="applied_coupon">{{coupon.0.code|upper}}</h6>
                    </div>
                    <div class="d-flex justify-content-between mb-2 pt-1">
                        <h6 class="font-weight-medium">Discount</h6>
                        <h6 class="font-weight-medium" id="coupon_discount">{{coupon.0.discount}}%</h6>
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-between mb-2 pt-1">
                        <h6 class="font-weight-medium">Saved</h6>
                        <h6 class="font-weight-medium text-success font-bold">- {% total_discount cart_list request.session.cart coupon %}</h6>
                    </div>
                    <div class="d-flex justify-content-between mb-2 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">{% checkout_cart_total cart_list request.session.cart coupon %}</h6>
                        <h6 class="font-weight-medium" id="subtotal" hidden>{% checkout_coupon_cart_total cart_list request.session.cart coupon %}</h6>                        
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium" id="shippingcost">{{shipping|currency}}</h6>
                    </div>
                    <small class="atx-red">(Free shipping for all online payments)</small>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold" id="total">{% checkout_shipping_total cart_list request.session.cart coupon shipping %}</h5>
                        <input type="text" name="order_amount" value="{% checkout_order_total cart_list request.session.cart coupon shipping %}" hidden>
                    </div>
                </div>
            </div>
            <div class="card no-border mb-5">
                <div class="bg-transparent p-0 collapse" id="place_order_button">
                    <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold">
                        Proceed to Pay
                    </button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<!-- Checkout End -->

{% endblock %}