{% extends 'base.html' %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Frequently Asked Questions</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">FAQs</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-9 col-md-12 mb-3">
            <div id="accordion" class="accordion">
                <div class="card mb-0">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                            Q.1     Who is AthletiX Sports?
                        </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                        <p>AthletiX Sports is Mumbai based sports equipment brand. 
                            All our products are manufactured in India. 
                            We aim to cater sports enthusiasts by providing high quality sports 
                            products at reasonable price point.
                        </p>
                    </div>

                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" 
                    href="#collapseTwo">
                        <a class="card-title">
                            Q.2   Are AthletiX Sports brand equipment made in India?
                        </a>
                    </div>
                    <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                        <p>Yes. AthletiX Sports is Indian brand. All the equipment are manufactured in India.
                        </p>
                    </div>

                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" 
                    href="#collapseThree">
                        <a class="card-title">
                            Q.3   What are the delivery charges?
                        </a>
                    </div>
                    <div id="collapseThree" class="card-body collapse" data-parent="#accordion" >
                        <p>Delivery charges vary depending upon delivery options, locality and product weight.
                            Express delivery charges more than standard delivery which delivers the courier faster. 
                        </p>
                    </div>

                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" 
                    href="#collapseFour">
                        <a class="card-title">
                            Q. 4	Do we ship our products internationally?
                        </a>
                    </div>
                    <div id="collapseFour" class="card-body collapse" data-parent="#accordion" >
                        <p>Yes. We have partnered with trusted logistics company who provides reliable courier, 
                            package delivery and express delivery services. 
                        </p>
                    </div>


                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" 
                    href="#collapseFive">
                        <a class="card-title">
                            Q. 5	Do we have Order tracking facility?
                        </a>
                    </div>
                    <div id="collapseFive" class="card-body collapse" data-parent="#accordion" >
                        <p>Yes. Our delivery partners provide a link which redirects to their portal where you can track your order right from placing an order to the delivery. 
                        </p>
                    </div>


                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" 
                    href="#collapseSix">
                        <a class="card-title">
                            Q. 6	How many days does it take to deliver the product?
                        </a>
                    </div>
                    <div id="collapseSix" class="card-body collapse" data-parent="#accordion" >
                        <p>It usually takes 5-7 business days excluding Sundays and public holidays. 
                        </p>
                    </div>


                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" 
                    href="#collapseSeven">
                        <a class="card-title">
                            Q. 7	Does courier include bill of the purchased item?
                        </a>
                    </div>
                    <div id="collapseSeven" class="card-body collapse" data-parent="#accordion" >
                        <p>Yes. We send proper bill of the product with all the details such as date of purchase, price, seller information as well as other important details. 
                        </p>
                    </div>


                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" 
                    href="#collapseEight">
                        <a class="card-title">
                            Q. 8	What is replacement and refund policy?
                        </a>
                    </div>
                    <div id="collapseEight" class="card-body collapse" data-parent="#accordion" >
                        <p>All the details regarding replacement and refund policy are mentioned in our terms 
                            and conditions article. You can review our terms section or simply click on the 
                            link to read replacement and refund policy. 
                            Link: www.athletixsportsshop.com/replacement_policy 
                        </p>
                    </div>

                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" 
                    href="#collapseNine">
                        <a class="card-title">
                            Q. 9	What about order cancellation?
                        </a>
                    </div>
                    <div id="collapseNine" class="card-body collapse" data-parent="#accordion" >
                        <p>We at AthletiX Sports have strict cancellation policy. 
                            All the details regarding cancellation policy are mentioned in our terms and conditions article. 
                            You can review our terms section or simply click on the link to read cancellation policy. 
                            Link: www.athletixsportsshop.com/cancellation_policy 
                        </p>
                    </div>


                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" 
                    href="#collapseTen">
                        <a class="card-title">
                            Q. 10	What if product is out-of-stock?
                        </a>
                    </div>
                    <div id="collapseTen" class="card-body collapse" data-parent="#accordion" >
                        <p>We usually update our inventory on regular interval. 
                            But in case if any product is out of stock, customer can choose an option to get notified 
                            as soon as it is available. In case of products with size unavailability, customer can 
                            also mention the required size. 
                        </p>
                    </div>


                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" 
                    href="#collapseEleven">
                        <a class="card-title">
                            Q. 11	What if customer receive a damaged product?
                        </a>
                    </div>
                    <div id="collapseEleven" class="card-body collapse" data-parent="#accordion" >
                        <p>After receiving a product, customer must check the product packaging and product condition 
                            at the time of delivery. Regarding Damaged Items in transit, you have 48 hrs to inform us 
                            about the same and product must be in the original condition as shipped regarding 
                            manufacturing defective items you have 48 hours to inform us about the same with proof in 
                            original condition/unused. There will be no replacement if the product if used.
                        </p>
                    </div>


                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" 
                    href="#collapseTwelve">
                        <a class="card-title">
                            Q. 12	How can a customer contact AthletiX Sports support staff for registering any issue?
                        </a>
                    </div>
                    <div id="collapseTwelve" class="card-body collapse" data-parent="#accordion" >
                        <p>Customer can contact on our number mentioned on our website www.athletixsportsshop.com 
                            or simply go to FAQs section where customer can post any product related query. 
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-12">
            <form class="p-3 border bg-secondary">
                <h4>Send a question?</h4>
                <div class="form-group">
                  <input type="text" class="form-control" id="question" placeholder="Ask your question">
                  <small id="emailHelp" class="form-text text-muted">
                    <b class="text-danger">Note: </b>Only send a question if it is not mentioned in FAQs.
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>

{% endblock %}