{% load cart_filter %}
{% load currency_filter %}
{% load static %}


<div class="panel panel-default">
    <div class="panel-body">
      <!-- Single button -->
      <div class="btn-group pull-right top-head-dropdown">
        <button type="button" class="btn btn-default border dropdown-toggle" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-shopping-cart atx-red"></i>
            <span class="badge">{{request.session.cart|cart_count}}</span>
            <span class="caret"></span>
        </button>

        {% if request.session.cart|cart_count > 0 %}
        <ul class="dropdown-menu dropdown-menu-right pt-0 pb-3">
            <li>
                <table class="table w-100 text-sm mb-0">
                    {% for cart in cart_list %}
                    <tr class="border-bottom">
                        <td class="text-center py-2"><img src="{{cart.product.all.0.image.url}}" class="notification-cart-image"></td>
                        <td class="py-2">{{cart.name}}</td>
                        <td class="py-2 w-20 pl-0">{{cart.price|discountedprice:cart.discount|inrcurrency|currency}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </li>
            <li>
                <a href="{% url 'cartpage' %}" class="btn bg-atx-red btn-sm my-2 float-right mr-2 text-white">View Cart</a>
            </li></br>
            <li class="mb-2"></li>
          </ul>
        {% else %}
          <ul class="dropdown-menu dropdown-menu-right pt-0 empty-notification">
            <li>
              <img src="{% static 'img/no products bag.png' %}" class="notification-cart-image">Cart is Empty
            </li>
          </ul>
        {% endif %}
        </div>
      </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
          <!-- Single button -->
          <div class="btn-group pull-right top-head-dropdown mr-1">
            <button type="button" class="btn btn-default border dropdown-toggle" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-heart atx-red"></i>
                <span class="badge">{{wishlist_products|length}}</span>
                <span class="caret"></span>
            </button>
            
            {% if wishlist_products|length > 0 %}
            <ul class="dropdown-menu dropdown-menu-right pt-0 pb-3">
                <li>
                    <table class="table w-100 text-sm mb-0">
                        {% for product in wishlist_products %}
                        <tr class="border-bottom">
                            <td class="text-center py-2"><img src="{{product.product.all.0.image.url}}" class="notification-cart-image"></td>
                            <td class="py-2">{{product.name}}</td>
                            <td class="py-2 w-20 pl-0">{{product.price|inrcurrency|currency}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </li>
                <li>
                    <a href="{% url 'wishlistpage' %}" class="btn bg-atx-red btn-sm my-2 mb-4 float-right mr-2 text-white">View Wishlist</a>
                </li></br>
                <li class="mb-2"></li>
            </ul>
            {% else %}
              <ul class="dropdown-menu dropdown-menu-right pt-0 empty-notification">
                <li>
                  <img src="{% static 'img/no products bag.png' %}" class="notification-cart-image">Wishlist is Empty
                </li>
              </ul>
            {% endif %}
            </div>
          </div>
        </div>