<div class="d-flex align-items-center mb-3">
    <p class="text-dark font-weight-medium mb-0 mr-3 w-15">Size:</p>
    <form class="row pl-5">
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="shoes-7" name="shoe-size">
            <label class="custom-control-label" for="shoes-7">UK 7/US 8</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="shoes-8" name="shoe-size">
            <label class="custom-control-label" for="shoes-8">UK 8/US 9</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="shoes-9" name="shoe-size">
            <label class="custom-control-label" for="shoes-9">UK 9/US 10</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="shoes-10" name="shoe-size">
            <label class="custom-control-label" for="shoes-10">UK 10/US 11</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="shoes-11" name="shoe-size">
            <label class="custom-control-label" for="shoes-11">UK 11/US 12</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="shoes-12" name="shoe-size">
            <label class="custom-control-label" for="shoes-12">UK 12/US 13</label>
        </div>
    </form>
</div>
<div class="row py-3">
    <div class="col-12">
        <table class="size-chart table table-sm table-hover">
            <tbody>
                <tr>
                    <td class="header">IND</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td class="header">UK</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td class="header">US</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td class="header">Euro</td>
                    <td>40</td>
                    <td>41</td>
                    <td>42</td>
                    <td>43</td>
                    <td>44</td>
                    <td>45</td>
                    <td>46</td>
                </tr>
                <tr>
                    <td class="header">Inches</td>
                    <td>9.90</td>
                    <td>10.15</td>
                    <td>10.25</td>
                    <td>10.50</td>
                    <td>11.00</td>
                    <td>11.15</td>
                    <td>11.25</td>
                </tr>
                <tr>
                    <td class="header">Centimeters</td>
                    <td>25.10</td>
                    <td>25.70</td>
                    <td>26.00</td>
                    <td>26.70</td>
                    <td>27.90</td>
                    <td>28.30</td>
                    <td>28.90</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>