{% load currency_filter %}
{% load custom_filter %}
{% load cart_filter %}

<div class="d-flex align-items-center mb-3">
    <p class="text-dark font-weight-medium mb-0 mr-3 w-15">Size:</p>

    <form class="row" method="post">
        {% csrf_token %}
        <input type="text" name="product" value="{{product.id}}" hidden>
        <div class="form-group">
            <select class="form-control " name="shoe_size" id="shoe_size_select" onchange="this.form.submit()">
                <option value="None">Select Size</option>
                <option value="uk7_us8" {% if shoe_size == 'uk7_us8' %}selected{% endif %}>UK 7/US 8</option>
                <option value="uk8_us9" {% if shoe_size == 'uk8_us9' %}selected{% endif %}>UK 8/US 9</option>
                <option value="uk9_us10" {% if shoe_size == 'uk9_us10' %}selected{% endif %}>UK 9/US 10</option>
                <option value="uk10_us11" {% if shoe_size == 'uk10_us11' %}selected{% endif %}>UK 10/US 11</option>
                <option value="uk11_us12" {% if shoe_size == 'uk11_us12' %}selected{% endif %}>UK 11/US 12</option>
            </select>
        </div>
    </form>
</div>
<div class="row py-3">
    <div class="col-12">
        <table class="size-chart table table-sm table-hover">
            <tbody>
                <tr>
                    <td class="header">IND</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td class="header">UK</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td class="header">US</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td class="header">Euro</td>
                    <td>40</td>
                    <td>41</td>
                    <td>42</td>
                    <td>43</td>
                    <td>44</td>
                    <td>45</td>
                    <td>46</td>
                </tr>
                <tr>
                    <td class="header">Inches</td>
                    <td>9.90</td>
                    <td>10.15</td>
                    <td>10.25</td>
                    <td>10.50</td>
                    <td>11.00</td>
                    <td>11.15</td>
                    <td>11.25</td>
                </tr>
                <tr>
                    <td class="header">Centimeters</td>
                    <td>25.10</td>
                    <td>25.70</td>
                    <td>26.00</td>
                    <td>26.70</td>
                    <td>27.90</td>
                    <td>28.30</td>
                    <td>28.90</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mb-3 mx-auto">
    {% if product|is_in_cart:request.session.cart %}
    <div class="col-3 input-group quantity px-0">
        <div class="input-group-btn">
            <form method="post">
            {% csrf_token %}
                <input type="text" name="product" value="{{product.id}}" hidden> 
                <input type="text" name="remove" value="True" hidden>    
                <input type="submit" class="btn bg-atx-red text-white btn-minus py-2" value=" - ">
            </form>
        </div>

        <input type="text" class="form-control bg-secondary text-center bg-white border-0" 
            value="{{product|cart_quantity:request.session.cart}}">
        
        <div class="input-group-btn">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="product" value="{{product.id}}" hidden> 
                <input type="submit" class="btn bg-atx-red text-white btn-plus py-2" value=" + ">
            </form>
        </div>
    </div>
    {% else %}
    <div class="col-3 p-2 text-center bg-atx-red">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="product" value="{{product.id}}" hidden>
            <i class="fas fa-shopping-cart text-dark mr-1"></i>
            <input type="submit" class="btn btn-sm text-dark p-0" value="Add to Cart">
        </form>
    </div>
    {% endif %}

    <div class="col-3 p-2 text-center bg-atx-red ml-3">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="product" value="{{product.id}}" hidden>
            <i class="fas fa-shopping-cart text-dark mr-1"></i>
            <input type="submit" class="btn btn-sm text-dark p-0" value="Buy">
        </form>
    </div>
</div>