<div class="d-flex align-items-center mb-3">
    <p class="text-dark font-weight-medium mb-0 mr-3 w-15">Waist Size:</p>
    <form class="row pl-5">
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="size_22" name="waist_size">
            <label class="custom-control-label" for="size_22">22 inch</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="size_24" name="waist_size">
            <label class="custom-control-label" for="size_24">24 inch</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="size_26" name="waist_size">
            <label class="custom-control-label" for="size_26">26 inch</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="size_28" name="waist_size">
            <label class="custom-control-label" for="size_28">28 inch</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="size_30" name="waist_size">
            <label class="custom-control-label" for="size_30">30 inch</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="size_32" name="waist_size">
            <label class="custom-control-label" for="size_32">32 inch</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="size_34" name="waist_size">
            <label class="custom-control-label" for="size_34">34 inch</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="size_36" name="waist_size">
            <label class="custom-control-label" for="size_36">36 inch</label>
        </div>
    </form>
</div>