<div class="d-flex align-items-center mb-3">
    <p class="text-dark font-weight-medium mb-0 mr-3 w-15">Size:</p>
    <form class="row pl-5">
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="kid_24_size" name="size">
            <label class="custom-control-label" for="kid_24_size">Kids (24)</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="kid_26_size" name="size">
            <label class="custom-control-label" for="kid_26_size">Kids (26)</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="kid_28_size" name="size">
            <label class="custom-control-label" for="kid_28_size">Kids (28)</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="xxxs_size" name="size">
            <label class="custom-control-label" for="xxxs_size">XS (30)</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="xs_size" name="size">
            <label class="custom-control-label" for="xxs_size">XS (32)</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="xs_size" name="size">
            <label class="custom-control-label" for="xs_size">XS (34)</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="s_size" name="size">
            <label class="custom-control-label" for="s_size">S (36)</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="m_size" name="size">
            <label class="custom-control-label" for="m_size">M (38)</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="l_size" name="size">
            <label class="custom-control-label" for="l_size">L (40)</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="xl_size" name="size">
            <label class="custom-control-label" for="xl_size">XL (42)</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline col-3">
            <input type="radio" class="custom-control-input" id="xxl_size" name="size">
            <label class="custom-control-label" for="xxl_size">XXL (44)</label>
        </div>
    </form>
</div>