{% load currency_filter %}
{% load custom_filter %}
{% load cart_filter %}

<div class="d-flex align-items-center mb-3">
    <p class="text-dark font-weight-medium mb-0 mr-3 w-15">Size:</p>
    <form class="row" method="post">
        {% csrf_token %}
        <input type="text" name="product" value="{{product.id}}" hidden>
        <div class="form-group">
            <select class="form-control" name="size" id="tshirt_size_select" onchange="this.form.submit()">
                <option value="None">Select Size</option>
                <option value="kids_24" {% if size == 'kids_24' %}selected{% endif %}>Kids (24)</option>
                <option value="kids_26" {% if size == 'kids_26' %}selected{% endif %}>Kids (26)</option>
                <option value="kids_28" {% if size == 'kids_28' %}selected{% endif %}>Kids (28)</option>
                <option value="xxxs_30" {% if size == 'xxxs_30' %}selected{% endif %}>XXXS (30)</option>
                <option value="xxs_32" {% if size == 'xxs_32' %}selected{% endif %}>XXS (32)</option>
                <option value="xs_34" {% if size == 'xs_34' %}selected{% endif %}>XS (34)</option>
                <option value="s_36" {% if size == 's_36' %}selected{% endif %}>S (36)</option>
                <option value="m_38" {% if size == 'm_38' %}selected{% endif %}>M (38)</option>
                <option value="l_40" {% if size == 'l_40' %}selected{% endif %}>L (40)</option>
                <option value="xl_42" {% if size == 'xl_42' %}selected{% endif %}>XL (42)</option>
                <option value="xxl_44" {% if size == 'xxl_44' %}selected{% endif %}>XXL (44)</option>
                <option value="xxxl_46" {% if size == 'xxxl_46' %}selected{% endif %}>XXXL (46)</option>
            </select>
        </div>
    </form>
</div>

<div class="row mb-3 mx-auto">
    {% if product|is_in_cart:request.session.cart %}
    <div class="col-3 input-group quantity px-0">
        <div class="input-group-btn">
            <form method="post">
            {% csrf_token %}
                <input type="text" name="product" value="{{product.id}}" hidden> 
                <input type="text" name="remove" value="True" hidden>    
                <input type="submit" class="btn bg-atx-red text-white btn-minus py-2" value=" - ">
            </form>
        </div>

        <input type="text" class="form-control bg-secondary text-center bg-white border-0" 
            value="{{product|cart_quantity:request.session.cart}}">
        
        <div class="input-group-btn">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="product" value="{{product.id}}" hidden> 
                <input type="submit" class="btn bg-atx-red text-white btn-plus py-2" value=" + " {% if product|cart_quantity:request.session.cart >= stock %}disabled{% endif %}>
            </form>
        </div>
    </div>
    {% else %}
    <div class="col-3 p-2 text-center bg-atx-red">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="product" value="{{product.id}}" hidden>
            <i class="fas fa-shopping-cart text-dark mr-1"></i>
            <input type="submit" class="btn btn-sm text-dark p-0" value="Add to Cart">
        </form>
    </div>
    {% endif %}

    <div class="col-3 p-2 text-center bg-atx-red ml-3">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="product" value="{{product.id}}" hidden>
            <i class="fas fa-shopping-cart text-dark mr-1"></i>
            <input type="submit" class="btn btn-sm text-dark p-0" value="Buy">
        </form>
    </div>
</div>

{% if product|cart_quantity:request.session.cart >= stock or stock <= 5 %}
    <span class="text-success">Only {{stock}} Tshirts available in stock</span>
{% endif %}
